*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(168, 240, 240);
}

header{
    width: 100%;
    height: 120px;
    background-color: #272932;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 3rem;
    color: #64fa00;
    font-family: fantasy;
    letter-spacing: 2px;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* margin: 50px; */
}

.cart-details{
    width: 60%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 20px 20px 20px;
    border-radius: 15px;
    background-color: #122474;
    color: aliceblue;
    margin-top: 150px;
}

.cart-heading{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #444;;
    display: flex;
    justify-content: baseline;
    padding: 30px 0;
}

.cart-heading h1{
    font-family: "Poppins", sans-serif;
    align-self: center;
    color: aqua;
}

.cart-information{
    width: 100%;
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    margin-top: 10px;
}

.cart-item{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 3px #333333;
    border-radius: 6px;
}

.cart-item h4{
    color: #f05d2e;
}

.item-image{
    width: 20%;
    border-right: 1px solid #333;
}

.item-image img{
    width: 100%;
    height: 100%;
}

.item-info{
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    text-align: left;
    margin-left: 10px;
}

.item-buttons{
    display: flex;
    gap: 20px;
    justify-content: baseline;
}

.item-price{
    width: 20%;
    display: grid;
    place-items: center;
    color: #f05d2e;
}

.high{
    color: #8dc73f;
}

.mid{
    color: #ffd500
}

.low{
    color:#ef233c;
}

.cart-payment{
    width: 40%;
    height: auto;
    align-self: baseline;
    background-color: #122474;
    border-radius: 15px;
    display: flex;
    flex-direction: column ;
    padding: 20px;
    color: aliceblue;
}

.payment-1{
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}

.payment-1 h5{
    color: #f05d2e;
}

.payment-opt{
    display: flex;
    gap: 10px;
    border-radius: .5px solid #888;
}

.payment-opt:first-child{
    background-color: aliceblue;
}

.payment-2{
    padding: 15px 0;
    border-bottom: 1px solid #666;
}

.payment-2 input{
    height: 30px;
    width: 60%;
    background-color: azure;
    padding: 5px;
    border: .5px solid #777;
}

.payment-2 button{
    height: 30px;
    background-color: azure;
    width: 35%;
    border: none;
    box-shadow: 1px 0px 3px #777;
    border-radius: 5px;
}

.payment-3{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #666;
}

.payment-3 .twond{
    text-align: right;
}

.payment-4{
    display: flex;
    flex-flow: column nowrap;
}

.payment-4 > div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
    color: #f05d2e;
}

.payment-button1{
    padding: 5px;
    border-radius: 8px;
    border: none;
}

.payment-buttons{
    margin-top: 5px;
    border: .5px solid aliceblue;
    border-radius: 8px;
    background-color: #272932;
    color: aliceblue;
    padding: 5px;
}